footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: calc(100vw - 2em);
  position: fixed;
  bottom: 0.8em;
  left: 1em;
}

footer a {
  margin-left: 1.2em;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #aaa;
}
